body {
  box-sizing: border-box;
  padding: 0 50px;
  font: 16px/24px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#examples {
  height: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.example {
  position: relative;
  width: calc(50% - 25px);
  height: 250px;
}

.buttons {
  position: absolute;
  z-index: 1;
}

.liquid-container {
  position: absolute;
  z-index: 0;
  overflow: visible;
}
.liquid-container,
.liquid-child {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;
  color: white;
}

.red {
  background: #f88;
}
.blue {
  background: #88f;
}
